<h1><%= @task.title %></h1>
<h3><%= @task.details %></h3>
<input type="checkbox" <%= 'checked' if @task.completed %> disabled>

<%= link_to 'Back to list', tasks_path %>
<%= link_to 'Edit', edit_task_path %>
<%= link_to 'Delete', task_path(@task), method: :delete, data: { confirm: "Are you sure?" } %>
